@model IEnumerable<LedgerMVC.Models.ChargeItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>我的記帳簿</h2>
@Html.Partial("_AddCharge")
<hr/>
@Html.Partial("_ChargeMoney",Model)