@model LedgerMVC.Models.ChargePaginViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>我的記帳簿</h2>
@Html.Partial("_AddCharge")
<hr/>
@Html.Partial("_ChargeMoney",Model)
<!--使用ajax的方式取得分頁內容-->
@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $('.page-link').click(function () {
            var currentPageIndex = $(this).text();
            reloadTable(currentPageIndex);
        });

        $('#chargeDate').datepicker({dateFormat: "yy/mm/dd" });

        function reloadTable(pageIndex) {
            /*
                用於日期轉換用，使用Json.net有格式轉換問題
                http://blog.darkthread.net/blogs/darkthreadtw/archive/2013/11/15/10657.aspx#10727
            */
            months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
            days = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12',
            '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
            '25', '26', '27', '28', '29', '30', '31']
            $.ajax({
                type: "GET",
                url: './ShowPagedChargeRecords',
                data: {currentPageIndex: pageIndex},
                error: function (data) {
                    alert(data);
                },
                success: function (responseData) {
                    $('#ChargeList tbody').empty();
                    var tbodyElement = '';
                    var ChargeList = responseData.ChargeItems;
                    var totalPages = responseData.TotalPages;

                    for (var i = 0; i < ChargeList.length; i++) {
                        var date = new Date(parseInt(ChargeList[i]["ChargeDate"].substr(6)));
                            tbodyElement += '<tr><td>' + ChargeList[i]["ChargeRecordId"] + '</td>' +
                                '<td>' + ChargeList[i]["ChargeType"] + '</td>' +
                                '<td>' + date.getFullYear() + "-" + months[date.getMonth()] + "-" + days[date.getDay()] + '</td>' +
                                '<td>NT$' + (ChargeList[i]["ChargePrice"]).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + '</td>' +
                                '<td><textarea cols="50" rows="5">' + ChargeList[i]["Memo"] + '</textarea></td></tr>';
                        }
                    $('#ChargeList tbody').append(tbodyElement);
                    reloadPagination(pageIndex, totalPages);
                }
            });
        }

        function reloadPagination(pageIndex, totalPages) {
            $('#LedgerPagnation').empty();
            var htmlElement = '';
                for (var i = 1 ; i <= Number(totalPages) ; i++) {
                    if (i == Number(pageIndex)) {
                        htmlElement += '<li class="page-item active"><a class="page-link">' + i + '</a></li>';
                    }
                    else {
                        htmlElement += '<li class="page-item"><a class="page-link">' + i + '</a></li>';
                    }
                }
                $('#LedgerPagnation').append(htmlElement);
                $('.page-link').click(function () {
                    var currentPageIndex = $(this).text();
                    reloadTable(currentPageIndex);
                });
        }
    });
    </script>
}